extends layout

block content
  .barra-superior
    h1= "Parking UR"

  //Enlace atras
  .enlace
    a(href="/")   
      c.btn.btn-atras(class='btn btn-primary') « 
      form(action="/entrada", method="post", id="formulario") 

  .tabla-Thistorial
    table.tabla-redondeada4
      thead 
        tr 
          th(colspan="6") Historial

      tbody 
        tr 
          td(colspan="6")&emsp;
        tr
          th Placa
          th Dueño
          th Tipo
          th Piso 
          th Ingreso
          th Salida
        if documentos.length > 0
          each document in documentos 
            tr 
              td= document.placa 
              td= document.owner
              if document.tipo
                td Carro 
              else 
                td Moto
              td= document.piso
              td= document.fecha_entrada
              td= document.fecha_salida
        else 
          tr 
            td(colspan="7")= 'No hay autos disponibles'