extends layout

block content
  .barra-superior
    h1= "Parking UR"

  //Enlace atras
  .enlace
    a(href="/")   
      c.btn.btn-atras(class='btn btn-primary') « 
  form(action="/entrada", method="post", id="formulario") 
    .table-Tentrada
      table.tabla-redondeada
        thead
          tr 
            th Entrada 
                
        tbody 
          if errors
            tr
              td.error_message=  errors
          tr
            td 
              //Botones Carro Moto
              if (form && form.tipo)
                if form.tipo == "carro"
                  input(type="radio", name="tipo", id="inputCarro", value="Carro", hidden, required, checked)
                  label(for="inputCarro") 
                    b.btn.btn-car(data-vehiculo="Carro", class="seleccionado") Carro
                  input(type="radio", name="tipo", id="inputMoto", value="Moto", hidden, required)
                  label(for="inputMoto") 
                    b.btn.btn-bike(data-vehiculo="Moto") Moto
                else 
                  input(type="radio", name="tipo", id="inputCarro", value="Carro", hidden, required)
                  label(for="inputCarro") 
                    b.btn.btn-car(data-vehiculo="Carro") Carro
                  input(type="radio", name="tipo", id="inputMoto", value="Moto", hidden, required, checked)
                  label(for="inputMoto") 
                    b.btn.btn-bike(data-vehiculo="Moto", class="seleccionado") Moto


              else 
                input(type="radio", name="tipo", id="inputCarro", value="Carro", hidden, required)
                label(for="inputCarro") 
                  b.btn.btn-car(data-vehiculo="Carro") Carro
                input(type="radio", name="tipo", id="inputMoto", value="Moto", hidden, required)
                label(for="inputMoto") 
                  b.btn.btn-bike(data-vehiculo="Moto") Moto

              //Entrada de dueño
              .label-input-dueno
                  label.label-dueno Dueño:
                  input#dueno-input(type="text", placeholder="", name="owner", required, value= (form && form.owner) || "" )

              //Entrada de placa
              .label-input-placa
                label.label-placa Placa:
                if (form && form.tipo && form.tipo == "Moto")
                  input#placa-input(type="text", name="placa", required,  pattern="[A-Za-z]{3}[0-9]{2}[A-Za-z]", title='Formato de placa 3 letras 2 números 1 letra',  value= (form && form.placa) || "")
                else 
                  input#placa-input(type="text", name="placa", required,  pattern='[A-Za-z]{3}[0-9]{3}', title='Formato de placa 3 letras 3 números',  value= (form && form.placa) || "")  

              //Entrada de color
              .label-input-color
                  label.label-color Color:
                  input#color-input(type="text", placeholder="", name="color", required, value= (form && form.color) || "")

              //Entrada de piso
              .label-select-piso
                  label.label-piso Piso:
                  select#piso-select(name="floor", required)
                    for piso in [1,2,3,4,5]
                      if (form && form.floor && form.floor == piso)
                        option(value=piso, selected)= "Piso " + piso
                      else 
                        option(value=piso)= "Piso " + piso
              //Boton de Guardar
              button#btn-guardar(type="submit") Subir


  div(id="modal_container")
    div#modal
      p ¿Ingresar vehiculo?
      div.btn
        button.btn(id='rechazar_btn') Rechazar 
        button.btn(id='aceptar_btn') Aceptar


  .table-pisos 
    table.tabla-redond 
      thead 
        tr 
          th Cupos
      tbody 
      each cupo, piso in cupos
        tr 
          td 
            .label-label-piso1  
              label.label-piso1= "Piso "+ (piso + 1) + ": " + (cupo - count[piso])
    


  //form(action="/entrada", method="post") 
    p Tipo de vehiculo: 
      select(name="tipo", required=true, id='tipo')
          option(value="") Elegir 
          option(value="1") Carro 
          option(value="0") Moto 
    p Placa:   
      input(type="text", name ="placa", required=true, pattern='[A-Za-z]{3}[0-9]{3}' title='Formato de placa 3 letras 3 números', id='placa')
    button(type="submit", namespace ="Subir", class='btn btn-success') Subir 
  script(src="/javascripts/validation.js") 
  script(src="/javascripts/selection.js")
  script(src="/javascripts/confirmation.js") 
  