extends layout

block content
  .barra-superior
    h1= "Parking UR"

  //Enlace atras
  .enlace
    a(href="/")   
      c.btn.btn-atras(class='btn btn-primary') « 
      form(action="/entrada", method="post", id="formulario") 

  .tabla-Tsalida
    table.tabla-redondeada2
      thead 
        tr 
          th(colspan="7") Salida

      tbody 
        tr
          th Placa
          th Dueño
          th Tipo
          th Piso 
          th Color
          th Entrada
          th Salida
        if documentos.length > 0
          each document in documentos 
            tr 
              td= document.placa 
              td= document.owner 
              if document.tipo
                td Carro 
              else 
                td Moto
              td= document.piso
              td= document.color
              td= document.fecha
              td
                  form(action="/salida", method="post") 
                      input(type="text", name="id", value=document.id, hidden=true)
                      button.btn_salida(type="submit", class="btn btn-danger") Salida 
        else 
          tr 
            td(colspan="7")= 'No hay autos disponibles'

  //table(class="table")
    thead 
      th Piso
      th Cupos disponibles 
      th Vehiculos activos
    tbody 
    each cupo, i in cupos
      tr
        td= i + 1
        td= (cupo - (count[i] ? count[i] : 0))
        td= (count[i] ? count[i] : 0)
  //div
    table(class='table')
      thead 
        tr
          th Placa
          th Tipo 
          th Dueño
          th Color
          th Hora entrada
          th Salida
      tbody
        each document in documentos 
          tr 
            td= document.placa 
            td= document.owner 
            td= document.color
            if document.tipo
              td Carro 
            else 
              td Moto
            td= document.fecha
            td
                form(action="/salida", method="post") 
                    input(type="text", name="id", value=document.id, hidden=true)
                    button(type="submit", class="btn btn-danger") Salida 

  div(id="modal_container")
    div#modal
      p ¿Eliminar vehiculo?
      div.btn
        button.btn(id='rechazar_btn') Rechazar 
        button.btn(id='aceptar_btn') Aceptar
  script(src="/javascripts/confirmationElimination.js") 
