extends layout

block content
  h1= title
  a(href="/", class='btn btn-danger') Regresar
  div 
  table(class="table")
    thead 
      th Piso
      th Cupos disponibles 
      th Vehiculos activos
    tbody 
    each cupo, i in cupos
      tr
        td= i + 1
        td= (cupo - (count[i] ? count[i] : 0))
        td= (count[i] ? count[i] : 0)
  div
    table(class='table')
      thead 
        tr
          th Placa
          th Tipo 
          th Hora entrada
          th Salida
      tbody
        each document in documentos 
          tr 
            td= document.placa 
            if document.tipo
              td Carro 
            else 
              td Moto
            td= document.fecha
            td
                form(action="/salida", method="post") 
                    input(type="text", name="id", value=document.id, hidden=true)
                    button(type="submit", class="btn btn-danger") Salida 

